<!DOCTYPE html>
<html>
  <%- include('includes/head'); %>
  <body>
    <%- include('includes/navbar', { active: "About" }); %>

    <div class="container ">
      <h1>Welcome to SlayChat!</h1>
      <a href="/chat">Go to Chat</a>
      <a href="https://github.com/GhostSlayer/SlayChat" target="_" rel="noopener noreferrer">Open Source</a>
    </div>
  </body>
</html>